[2018-03-21 10:27] sdeleuze opened #1 "Flushing strategy"
Hi, I am starting adding support for Jetty ReactiveStream HttpClient in Spring Framework 5 as a second engine for our Reactive `WebClient` as an alternative to Reactor Netty (see [SPR-15092](https://jira.spring.io/browse/SPR-15092) for more details).

As you can see in our [ReactiveHttpOutputMessage](https://github.com/spring-projects/spring-framework/blob/f9df8c738a4eb9fff292f58a82be7ba09e1c3097/

[2018-03-21 10:52] sbordet commented on #1
@sdeleuze I'm confused.

Flushing explicitly may block because of TCP congestion.
What's the point of providing a blocking behavior in a reactive API ?

I'm also surprised by `Publisher<Publisher<DataBuffer>>`.
I'm interested in the details of the use case for it that cannot be done by a regular `Publisher<DataBuffer>`.

[2018-03-21 13:24] sdeleuze commented on #1
`Publisher<DataBuffer>` splitting does not necessarily matches with flushing semantic. The way how `DataBuffer` are split in the `Publisher<DataBuffer>` depends on various element in the Reactive pipeline.

On server side, Tomcat, Undertow, Jetty or Netty will not provide the same chunk size for example. It also varies based on what codecs are used, content type, etc. Some codecs could serialize c

[2018-03-21 15:04] sbordet commented on #1
@sdeleuze I am not sure I understand.

If I have a reactive pipeline of say `A -> B -> C`, whether `A` wants to flush should be irrelevant to `B` and `C`.

I would have expected that the policies about when and how to flush would depend on each component, and configured so separately, so that I can say that `A` flushes every 64 KiB, `B` flushes every 2 seconds, and `C` flushes every N elements.
Th

[2018-03-22 09:59] sdeleuze commented on #1
What I mean by "flush asap" is that this is not blocking or real time, that's an indication from user side that data should be flushed other the network when possible.

Let's talk about more concrete use cases, maybe the examples I used previously was not concrete enough. We are using the explicit flush API to support SSE and `application/stream+json` in order to request a flush after each element

[2018-03-22 14:58] sbordet commented on #1
Our experience with Jetty and the [CometD project](https://cometd.org) is that techniques such as infinite response, SSE or similar do not work in general over the Internet because intermediaries are rarely updated and do not understand these techniques (i.e. the intermediary does not behave any different if `Content-Type: text/event-stream`).

Add on top of that the great push towards encryption

[2018-03-23 10:12] sbordet commented on #1
@sdeleuze I'll have to treat you to dinner and many beers after dinner if you want to discuss Servlet 3.1 non-blocking I/O design :smile:

I'm still confused. Flush primitives are needed on server for SSE, not on the client.
Do you also have streaming requests ?

[2018-03-23 10:36] sdeleuze commented on #1
Fair point for Servlet 3.1 non-blocking I/O design :wink:

Yes we have streaming requests as well, mainly for server to server use case. We allow to request SSE endpoints from a Java client mainly for testing purpose. But for server to server over HTTP/1.1 and HTTP/2, we support `application/stream+json`, `application/stream+x-jackson-smile` (binary JSON) and [Protobuf streaming support](https://j

[2018-03-23 11:12] sbordet commented on #1
Still confused.

From a `Publisher<Publisher<DataBuffer>>` what would you like the implementation to do ?
You want the implementation to buffer the nested `Publisher`, and upon its `complete` event you want to force the implementation to flush ?

If that's the case, isn't this doable with a transformation of the nested `Publisher` to buffer the data, and then provide just a `Publisher<DataBuffer>`

[2018-03-23 14:00] sdeleuze commented on #1
Ok I understand better, if there is no buffering in Jetty's `HttpClient`, I think we are fine with current API. Thanks for your feedback!

[2018-03-23 14:00] #1 closed

[2018-03-26 21:29] gregw commented on #1
@sdeleuze Note that a flush on serverside is provided more for committing the response rather than giving the ability to create some kind of boundary within the content.   Once a flush is done, the response headers are set with the type of content boundary to be used (eg chunking vs content-length).  So the first flush can be very semantically meaningful.   After than, flush is at best a hint to t

[2018-03-28 20:32] joakime opened #2 "Spring Framework is interested in this client"
There is interest in this client from the Spring folks - https://jira.spring.io/browse/SPR-15092

[2018-03-28 20:32] joakime commented on #2
Mentioning @sbordet @gregw to get them to see notification.

[2018-03-28 20:51] sbordet commented on #2
I have been talking to @sdeleuze about the integration, work is ongoing.

[2018-03-30 15:25] sdeleuze opened #3 "NPE thrown by AbstractSingleProcessor"
When running `JettyWebClientIntegrationTests#shouldSendLargeTextFile` test from [this repro project](https://github.com/sdeleuze/jetty-http-webclient), a `NullPointerException` is thrown. The same test is green with Reactor Netty and the new JDK HTTP client (and Reactor is validated against Reactive Streams TCK).

[code]

Could you please check if there is something to fix on Jetty side, and maybe

[2018-04-03 07:49] sbordet opened #4 "Implement ReactiveStreams TCK"

[2018-04-03 09:19] sdeleuze commented on #2
Indeed I am working on that with @sbordet support so feel free to close this issue ;-)

[2018-04-03 14:09] #2 closed

[2018-04-03 14:35] #3 closed

[2018-04-03 14:39] sbordet commented on #3
@sdeleuze the test times out before completing, and it cancels the subscription, which causes the NPE.

I was never able to fail your test locally, as 5 seconds were more than enough to upload the large file, but reducing the timeout to 50 milliseconds reproduced the NPE.

I have fixed a couple of bugs and added a guard for the NPE.

Can you try the latest code (0.9.2-SNAPSHOT) ?

[2018-04-03 14:50] sdeleuze commented on #3
Sure, but where can I find snapshots? I can't find a `jetty` directory in https://oss.sonatype.org/content/repositories/snapshots/org/eclipse/.

[2018-04-03 14:59] sbordet commented on #3
@sdeleuze good point :)
Give me a while to deploy them, and I will paste the link here.

[2018-04-03 16:14] sbordet commented on #3
@sdeleuze you can find the snapshot at this repository:
https://oss.sonatype.org/content/repositories/jetty-snapshots

[2018-04-03 16:18] sdeleuze commented on #3
I confirm that `0.9.2-SNAPSHOT` fixes this issue thanks!

[2018-04-03 17:07] sbordet commented on #3
@sdeleuze I released 0.9.2 in Maven Central.

[2018-04-04 16:47] #4 closed

[2018-04-20 07:46] flyaruu opened #6 "OSGi Headers are missing"
Unlike the rest of Jetty, the reactive client has no OSGi headers. I think it makes sense to have them.

[2018-04-30 15:35] #6 closed

[2018-04-30 15:36] sbordet commented on #6
@flyaruu can you please test the latest code to see if it works in OSGi for you ?

[2018-04-30 15:37] flyaruu commented on #6
I'll do that!

[2018-05-03 09:57] flyaruu commented on #6
Works for me! Will this library be added to the Jetty distribution in general (for me the p2 repo would be most convenient)?

[2018-07-23 14:23] flyaruu opened #7 "Timeout issue"
The timeout and idle timeout don't terminate the stream.

If I take the RxJava2 example from the readme, and add timeouts and a doOnSuccess / doOnError listener like this:

[code]
And I point it at a 'hanging socket':

Using
[code]

... it will close the connection after the timeout, but it won't terminate the stream (neither doOnSuccess or doOnError gets called)

Granted, I could also add RxJava-

[2018-07-24 17:53] gregw commented on #7
Versions of everything including the operating system?

Sorry, but due to vacations, you've only got me to look at this (and I'm on vacation too), and I'm not all that familiar with ReactiveStreams and less so with RxJava.... so just to check that such a timeout should be delivered to a RxJava subscriber via a call to onError?   If so, then the problem would be that we are not delivering that call

[2018-07-25 10:45] flyaruu commented on #7
I'm using the master branch, MacOS 10.11.6, Java 1.8.0_141

I understand, enjoy your vacation, I think I got a handle on this.

I've done some digging around and actually the problem is a little bit more fundamental than I thought.

If I take the Rx2 example as-is, which points at http://localhost:8080/path, but I don't run anything on that port, I'd expect some kind of connection refused kind of

[2018-07-29 17:32] sbordet commented on #7
@flyaruu I fixed this in the latest code. Can you please verify that it works for you?

[2018-07-29 17:32] #7 closed

[2018-08-02 06:53] flyaruu commented on #7
Looks great, cheers!

[2018-10-03 11:44] Ben-Mark opened #9 "WebSocket client (jetty reactive?!)"
Sorry for this thread but..
Is there any plans for a jetty reactive websocket client ?

[2018-10-03 11:53] sbordet commented on #9
It's been discussed (internally) for Jetty 10.x.

I suggest you open an issue to the [Jetty Project](https://github.com/eclipse/jetty.project/issues) and continue from there.

Thanks!

[2018-10-03 11:53] #9 closed

[2018-11-14 16:01] kptfh opened #10 "QueuedSinglePublisher shoud start publishing only after ResponseListenerPublisher subscribed"
In concurrent environment faces the issue when QueuedSinglePublisher completed before ResponseListenerPublisher subscribed

[2018-11-14 19:47] kptfh commented on #10
I mean that content publisher (QueuedSinglePublisher) should start emitting chunks only after ResponseListenerPublisher has emitted it's (response headers received) value . Otherwise semantic is not correct and such reactor construction will break if published on parallel scheduler
[JettyReactiveHttpClient](https://github.com/kptfh/feign-reactive/blob/31552b20d071bf67fd2c1f4cbb2b6f1922e5b67e/feign

[2018-11-14 21:37] sbordet commented on #10
I still don't understand.
`ResponseListenerPublisher` does not emit the "response headers received" event like you said.
The content publisher emits content chunks only after `ResponseListenerPublisher.onHeaders()` has returned.

Do you have a reproducible test case? Or otherwise can you explain _in detail_ what is it that does not work?

[2018-11-15 09:20] kptfh commented on #10
Yeah. It's was not trivial to understand the root cause of an issue
To work reactively with Jetty reactive client it's convenient to have response in form of `Publisher<Pair<HEADERS, Publisher<CONTENT>>`
Thus for reactor I need to use following construction:
`Mono<MyReactiveHttpResponse> reactiveResponse = Mono.from(requestBuilder.build().response(
            (response, content) -> Mono.just(new

[2018-11-15 09:50] kptfh commented on #10
I really like Jetty's reactive client implementation as it allows to start receiving reactive response before all reactive request body has been sent. But I'd like to have response in form of Publisher<JettyReactiveResponse<HEADERS, Publisher<CONTENT>>. It will greatly increase its usability.

[2018-11-16 21:33] sbordet commented on #10
@kptfh would it be possible to see your implementation to understand the differences?

[2018-11-17 12:14] kptfh commented on #10
sure, [jetty based reactive feign](https://github.com/Playtika/feign-reactive/blob/feature/tests_coverage/feign-reactor-jetty/src/main/java/reactivefeign/jetty/client/JettyReactiveResponseListener.java)

[2018-11-22 11:03] sbordet commented on #10
@kptfh I don't see any difference - I think you can do the same without implementing your own `Response.Listener`.

[code]

That above is the `Publisher<Pair<HEADERS, Publisher<CONTENT>>` you are looking for.

[2018-11-22 11:18] kptfh commented on #10
Regarding `Mono<Pair<ReactiveResponse, Publisher<ContentChunk>>> reactiveResponse = Mono.from(request.response((response, content) -> Mono.just(new Pair<>(response, content))));`

This approach works until you call `reactiveResponse.subscribeOn(Schedulers.parallel()).flatMap()`. In this case I face an issue that content publisher get completed before reactiveResponse published it's value.
Will cre

[2018-11-22 11:34] kptfh commented on #10
[branch to reproduce failing tests](https://github.com/Playtika/feign-reactive/tree/feature/broken_jetty)

You should pay attention to this test [RetryingTest](https://github.com/Playtika/feign-reactive/blob/feature/broken_jetty/feign-reactor-jetty/src/test/java/reactivefeign/jetty/RetryingTest.java)

[2018-11-28 20:40] sbordet commented on #10
@kptfh I found the cause of the issue and your branch is now passing the tests fine for me, thanks for that.

The problem was that in `ResponseListenerPublisher.onComplete()` there was this code:

[code]

The code was notifying `content` that the response content was completed, but then also calling `onComplete()` in case `content.complete()` returned `false`.
The call to `content.complete()` retu

[2018-11-28 20:45] #10 closed

[2018-11-28 20:56] sbordet commented on #10
I released 1.0.2 with this fix.

[2018-11-28 23:13] kptfh commented on #10
Great news. Thanks. Will update my code.

[2018-12-10 10:47] kptfh commented on #10
@sbordet JFY Jetty based reactive feign client beats Netty based WebClient feign more then 40%
RealParallelRequestBenchmarks.jetty                  thrpt   15    114.371 ±  59.636  ops/s
RealParallelRequestBenchmarks.webClient         thrpt   15      81.120 ±  36.470  ops/s

https://github.com/Playtika/feign-reactive/blob/develop/feign-reactor-benchmarks/README.md

[2018-12-10 15:14] sbordet commented on #10
Make Jetty the default then! :wink:

Thanks for the feedback on performance!

[2018-12-14 15:29] kptfh opened #12 "Fails to run over http2 transport"
Fails with `java.io.IOException: 6/invalid_frame_length` while trying to run over http2 transport.
Here is the test [SmokeTest] (https://github.com/Playtika/feign-reactive/blob/feature/jetty-http2/feign-reactor-jetty-http2/src/test/java/reactivefeign/jetty/SmokeTest.java)

[2018-12-14 16:17] sbordet commented on #12
The client is sending clear-text HTTP/2 with prior-knowledge (i.e. without upgrade), and the server replies with `426 Upgrade Required`.
You need to configure the server to support prior-knowledge clear-text HTTP/2, as Jetty's `HttpClient` cannot yet perform upgrades to HTTP/2.

[2018-12-14 16:52] kptfh commented on #12
Hi Simone.
1) It's not obvious for me how do you get to this error code `426 Upgrade Required`.
2) Don't you know how to configure Wiremock which is based on Jetty Server in proper way to accept HTTP/2 plain text calls?

[2018-12-14 16:54] sbordet commented on #12
1. Wireshark trace
2. No, I don't know - will have a look.

[2018-12-17 09:21] kptfh commented on #12
JFY: Here is the code to config Wiremock to Http2c

[code]

[2018-12-17 22:53] #12 closed

[2019-01-17 14:13] kimec opened #13 "Using Callback in ReactiveRequest's ContentChunk to release a pooled ByteBuffer"
Greetings,

I would like to pool `ByteBuffer`s used in `ReactiveRequest`s. I've chosen `ArrayByteBufferPool` as the `ByteBufferPool` implementation.

I am releasing the `ByteBuffer` in  `ContentChunk`'s callback like so
[code]
I am not yet very familiar with Jetty client code base but the approach outlined above seems to work.

Unfortunately, [the example in README.md](https://github.com/jetty-pro

[2019-01-17 16:06] sbordet commented on #13
@kimec I am not sure I understand.

`ContentChunk` is used in _response_ content, not request.

`ContentChunk`s are then passed to the application, which _must_ complete the callback, either succeeding it, or failing it.
When the application succeeds the `ContentChunk` callback, the `ByteBuffer` is already recycled by the `HttpClient` implementation.
You don't need to explicitly `release()` the `B

[2019-01-17 21:06] kimec commented on #13
Hello @sbordet,
thank you very much for you response.

Based on what is written in [Providing Request Content](https://github.com/jetty-project/jetty-reactive-httpclient#providing-request-content) and how [ReactiveRequest.Content#fromPublisher(Publisher, String)](https://github.com/jetty-project/jetty-reactive-httpclient/blob/master/src/main/java/org/eclipse/jetty/reactive/client/ReactiveRequest.j

[2019-01-18 07:36] sbordet commented on #13
From your example, I understand you are producing request content, and you want to produce that content using pooled `ByteBuffer`s and `ContentChunk` so that you can release the `ByteBuffer`s back to the pool.

You can find an example in the test suite, see here: https://github.com/jetty-project/jetty-reactive-httpclient/blob/1.0.2/src/test/java/org/eclipse/jetty/reactive/client/RxJava2Test.java#L

[2019-01-18 07:41] kimec commented on #13
Indeed, the test you pointed me to is great. Thank you very much for the pointer and sorry for not being clear enough in the beginning.

[2019-01-18 07:41] #13 closed

[2019-02-07 00:52] danielra opened #14 "Intermittent onComplete observed without onNext, response content dropped"
I am using the jetty-reactive-httpclient via the Spring 5 WebClient/JettyClientHttpConnector in a Spring WebFlux service, and I see that intermittently the body content from a response is not emitted as expected - instead I see an onComplete call without a prior onNext. However, the debug log lines from the jetty-client indicate that the response body _was_ received/decoded. I seem to be able to r

[2019-02-07 11:18] kptfh commented on #14
Just curious,  why did you select JettyClientHttpConnector instead of default Netty based?
Does it fail on default Netty based http connector as well?
I suppose that there is some issue in JettyClientHttpConnector.

Try to use [https://github.com/Playtika/feign-reactive](https://github.com/Playtika/feign-reactive)
It has reactive jetty HttpClient based implementation
[https://github.com/Playtika/f

[2019-02-07 17:22] danielra commented on #14
I switched to using the JettyClientHttpConnector because I haven't been able to get the reactor-netty based client to timeout requests without leaking Netty's pooled ByteBufs. They have been working to resolve these sorts of leaks for a while and have fixed a number of them - but I still see a lot of leak reports with the newest version of the client (I plan to file an issue over there once I have

[2019-02-08 11:00] sbordet commented on #14
@danielra here's my analysis from your "problem" log:

[code]
We see the response content and we produce a `ContentChunk`, which gets queued.
There is no demand yet, so this particular chunk is not processed immediately by us (in the "normal" case there already is demand at this point).

[code]
The first line creates the demand; in the second line we process the `ContentChunk` - which means that w

[2019-02-08 11:05] sbordet commented on #14
Also, I'm no Reactor expert: could it be that your use of the Reactor APIs is wrong?

[2019-02-11 21:13] danielra commented on #14
Thank you very much for taking the time to provide your analysis. I am working towards a more isolated/complete example which reproduces the problem. I will follow up on the reactor side and link this issue as you suggest.

I am not a Reactor expert either, and I am certainly open to learning that I am doing something wrong on my end. In this case, the actual subscription / demand is coming from S

[2019-02-12 19:04] danielra commented on #14
While paring down my actual project into something more minimal/isolated to reproduce the issue, I started seeing a new NPE error occurring in reactor code. I reported this issue over on the reactor project here: https://github.com/reactor/reactor-core/issues/1522 . Someone there noted that it appeared as though onNext is being called by Jetty code after onComplete has already been called. A poten

[2019-02-14 12:08] #14 closed

[2019-02-14 15:02] sbordet commented on #14
@danielra can you try the latest code? I pushed a fix for this behavior.

[2019-02-14 19:27] danielra commented on #14
@sbordet I built the current master branch and used that version locally and I am happy to report that I am no longer able to reproduce the issue I was seeing. Thank you very much for your work here - I appreciate it! Looking forward to an official release which includes the update. :)

[2019-02-14 20:19] sbordet commented on #14
@danielra a new release of this project is scheduled just after Jetty 9.4.15, which should be due early next week. Thanks for the feedback on the fix!

[2019-02-20 14:33] sbordet commented on #14
I have released version 1.0.3.

[2019-07-11 00:25] scottjohnson opened #16 "When using jetty-reactive-httpclient, calling retry on WebClient.exchange throws CancellationException"
When using the `jetty-reactive-httpclient` client connector with WebClient, whenever we call `retry` after WebClient.exchange (to retry the HTTP request), a `CancellationException` is thrown instead of the request being retried. When using `reactor-netty` client, the WebClient HTTP request is retried as expected.

It is unclear to us whether this is a Spring issue, or one with Reactor or Jetty. Pl

[2019-07-11 00:26] scottjohnson commented on #16
I created a similar issue on spring-framework, but they suggested it was likely an issue with jetty-reactive-httpclient:

https://github.com/spring-projects/spring-framework/issues/23005

[2019-11-15 14:21] kptfh opened #17 "Can't use 1.0.3 client with latest version of jetty-client 9.4.22"
java.lang.AbstractMethodError: Receiver class org.eclipse.jetty.reactive.client.internal.ResponseListenerPublisher does not define or inherit an implementation of the resolved method abstract onContent(Lorg/eclipse/jetty/client/api/Response;Ljava/util/function/LongConsumer;Ljava/nio/ByteBuffer;Lorg/eclipse/jetty/util/Callback;)V of interface org.eclipse.jetty.client.api.Response$DemandedContentLis

[2019-11-15 20:04] sbordet commented on #17
Thanks for the report, we are working on a new release of Jetty that will trigger a new release of this project.

[2019-11-17 00:50] priyansms opened #18 "Incompatible with Spring Boot 2.2.x"
java.lang.AbstractMethodError: Receiver class org.eclipse.jetty.reactive.client.internal.ResponseListenerPublisher does not define or inherit an implementation of the resolved method abstract onContent(Lorg/eclipse/jetty/client/api/Response;Ljava/util/function/LongConsumer;Ljava/nio/ByteBuffer;Lorg/eclipse/jetty/util/Callback;)V of interface org.eclipse.jetty.client.api.Response$DemandedContentLis

[2019-11-17 15:24] sbordet commented on #18
Duplicate of #17.

[2019-11-17 15:24] #18 closed

[2019-11-18 09:30] priyansms commented on #17
When the release would be available ?

[2019-11-18 09:34] sbordet commented on #17
Soon, we are preparing Jetty 9.4.23 and when that is available there will be a `jetty-reactive-httpclient` 1.1.0 release.

[2019-11-18 10:07] sbordet opened #19 "Use HttpClient demand feature"
Since eclipse/jetty.project#2429 has been fixed, `HttpClient` now has a demand feature similar to reactive streams that can be used to request more content without having to succeed the callback and recycle the buffer, so that demand and buffer recycling can now be performed independently.

Update the reactive HTTP client to leverage this new feature.

[2019-11-18 10:12] #19 closed

[2019-11-19 07:54] kptfh opened #20 "h2c fails on 9.4.23.v20191118 Jetty Server and 1.1.0-SNAPSHOT jetty-reactive-httpclient"
After upgrade of ReactiveFeign Jetty-based implementation to 9.4.23.v20191118 Jetty Server and 1.1.0-SNAPSHOT jetty-reactive-httpclient H2c test began to fail. H1 version works correctly.

Test just tries to run 500 queries in parallel.
I get a lot of this warnings on server side
` [qtp1378612814-18] WARN  org.eclipse.jetty.server.HttpOutput - java.io.IOException: Closed while Pending/Unready`
And

[2019-11-19 10:11] sbordet commented on #20
@kptfh I'm looking into this.

[2019-11-19 13:27] kptfh commented on #20
Probably issue on server side (which is also Jetty based) because Java 11 ReactiveFeign test is also failing
[Java 11 ReactiveFeign against j2c Jetty server](https://github.com/Playtika/feign-reactive/blob/latest-jetty/feign-reactor-java11/src/test/java/reactivefeign/java11/h2c/AllFeaturesTest.java)

[2019-11-19 15:29] sbordet commented on #20
This is an issue related to bad usage of the Servlet 3.1 async I/O APIs from Spring.

We have been able to reproduce the test failure with 9.4.23 but also 9.4.14 - the code that handles this case did not change.

We have filed eclipse/jetty.project#4331 to track the behavior from the Servlet Specification point of view, but Spring should try harder to avoid calling Servlet APIs such as `ServletOut

[2019-11-20 07:57] kptfh commented on #20
It's quite strange. Http1 version of the test works well.
[Jetty ReactiveFeign against h1 Jetty server](https://github.com/Playtika/feign-reactive/blob/latest-jetty/feign-reactor-jetty/src/test/java/reactivefeign/jetty/h1/AllFeaturesTest.java)

[2019-11-20 09:05] sbordet commented on #20
The HTTP/1.1 version works well because the (small) writes are never stalled and all happen in different connections.

For HTTP/2, the concurrency makes it so a request trying to write the response content is stalled because other threads are currently writing to the single connection that HTTP/2 uses.
Because the write is non-blocking, it queues the buffer to write and return immediately, allowin

[2019-11-20 09:13] kptfh commented on #20
Got it. Thanks

[2019-11-20 09:19] sbordet commented on #20
@kptfh are you going to raise an issue to the Spring project?

[2019-11-21 08:44] kptfh commented on #20
@sbordet here it is [issue](https://github.com/spring-projects/spring-framework/issues/24050)
Please, check it and comment.

[2019-11-26 17:21] kptfh commented on #17
just to softly remind :)

[2019-11-26 17:26] joakime commented on #17
Jetty 9.4.24.v20191120 is now released, if that helps?

[2019-11-26 21:00] kptfh commented on #17
No, need jetty-reactive-httpclient 1.1.0 release. Currently the latest version of Spring is broken.

[2019-11-27 15:05] #20 closed

[2019-11-27 15:06] sbordet commented on #17
Reactive HttpClient 1.1.0 released, with dependency on Jetty 9.4.24.

[2019-11-27 15:06] #17 closed

[2020-03-06 08:15] kptfh opened #21 "Provide BlockHoundIntegration"
builder.allowBlockingCallsInside("org.eclipse.jetty.client.AbstractConnectionPool", "acquire");
builder.allowBlockingCallsInside("org.eclipse.jetty.client.MultiplexConnectionPool", "acquire");
builder.allowBlockingCallsInside("org.eclipse.jetty.util.BlockingArrayQueue", "poll");
builder.allowBlockingCallsInside("org.eclipse.jetty.util.BlockingArrayQueue", "offer");

[2020-03-06 08:47] kptfh commented on #21
//java.net.InMemoryCookieStore.get
builder.allowBlockingCallsInside("org.eclipse.jetty.client.HttpConnection", "normalizeRequest");

[2020-03-06 22:45] kptfh commented on #21
builder.allowBlockingCallsInside("org.eclipse.jetty.client.MultiplexConnectionPool", "lock");

[2020-03-07 11:32] sbordet commented on #21
@kptfh I'm sorry you have to detail more exactly what this is. Seems a lot of false positives to me.

[2020-03-11 12:29] kptfh commented on #21
Sorry for delay. Spent a lot of time adding exclusions to BlockHound to pass my tests.
There is an option to include BlockHoundIntegration implementation class into library.
Then BlockHound will be able automatically add this exclusions and it will save a lot of times to all who will run BlockHound tests while using your library .

[2020-03-11 12:30] kptfh commented on #21
Here is the final list of exclusions that allows to pass tests
[code]

[2020-03-11 12:34] sbordet commented on #21
@kptfh I'm sorry but there are no blocking call inside `AbstractConnectionPool.acquire()` nor inside `HttpConnection.normalizeRequest()`, so I have doubts that the tool's report are accurate.

[2020-03-11 12:37] kptfh commented on #21
BlockHound reports on all operations with Lock that are present in all these calls.

[2020-03-11 12:40] sbordet commented on #21
@kptfh well, there are no Locks in those two calls so the tool does not seems to work properly to me.

[2020-03-11 12:42] kptfh commented on #21
They are down the stack. In case of `AbstractConnectionPool.acquire()` it occur in `activate`

[2020-03-11 12:43] kptfh commented on #21
May try to provide full stack trace for each case

[2020-03-11 13:32] sbordet commented on #21
@kptfh can I ask what's the point of this?
Your analysis has already showed that the reactive wrapper around `HttpClient` does not seem to have problems.

The Jetty `HttpClient` implementation may change at any time for bug fixes, etc. so the list of "allows" that is valid for one version may not be valid for another version.

Thanks

[2020-03-11 13:38] kptfh commented on #21
Missed that this is just wrapper. So it's better to place it in HttpClient project.

[2020-03-11 14:26] sbordet commented on #21
No, there we don't care about being "reactive".

[2020-03-11 14:40] kptfh commented on #21
It's about being non-blocking.

On Wed, 11 Mar 2020, 16:26 Simone Bordet, <notifications@github.com> wrote:

[2020-03-11 14:52] sbordet commented on #21
Obviously the tool is not about that.

Try to run it against JDK's NIO which is completely non-blocking, and it will find a million false positives (unless the tool does not look inside JDK classes).

Same for Jetty's `HttpClient`: it's non-blocking but the tool cannot figure it out, so I don't see how the tool is any useful, sorry.

[2020-03-11 14:58] #21 closed

[2020-08-13 15:24] thomas-br opened #22 "Using Jetty with Spring Webclient causes thread leak"
Hi,

I am currently looking into using the jetty httpclient to replace netty for my Spring Webclient which is responsible for external calls. As there is a hard limit when these external requests shall be cancelled, I am using a timeout in the Webclient execution call:

[code]

I am using Jetty as ClientHttpConnector, simplified:

[code]

In a load test scenario where all calls are cancelled befor

[2020-08-13 15:43] sbordet commented on #22
Can you take a thread dump to see what are those threads doing?

[2020-08-14 06:44] thomas-br commented on #22
Sure. You can find the thread dump [here](https://gist.github.com/thomas-br/0d2d9d44b30f99d9ca8b33989661549a/raw/faef2fb5f39ea4c281da685e98de8924bb9772fa/ThreadDumpJetty)

[2020-08-20 11:40] thomas-br commented on #22
@sbordet Could you get any insight out of it?

[2020-08-25 13:15] sbordet commented on #22
@thomas-br sorry for the late reply, I was in vacation.
Looking at the dumps now.

[2020-08-25 13:20] sbordet commented on #22
From your logs, there are 439 different instances of `HttpClient`.

That is not good, as there should be only 1.
Each instance will require selector threads, schedulers, etc. so the 439 of them will consume a lot of threads.

I suspect there is something really wrong in the way you setup your application.

[2020-08-26 08:00] thomas-bruckner commented on #22
@sbordet
Thanks for your reply. Okay, yes indeed I am creating a `HttpClient` for each request.

On the one handside same procedure does not cause such a thread behavior with Netty HttpClient (see graph below).
![image](https://user-images.githubusercontent.com/70207334/91277126-b19f6700-e782-11ea-8562-42e482fafb6b.png)

On the other, if you say ideally a singleton instance of the `HttpClient` sho

[2020-08-26 08:03] thomas-br commented on #22
@sbordet
Thanks for your reply. Okay, yes indeed I am creating a `HttpClient` for each request.

On the one handside same procedure does not cause such a thread behavior with Netty HttpClient (see graph below).
![image](https://user-images.githubusercontent.com/70207334/91277126-b19f6700-e782-11ea-8562-42e482fafb6b.png)

On the other, if you say ideally a singleton instance of the `HttpClient` sho

[2020-08-26 09:09] rstoyanchev commented on #22
When creating the `JettyClientHttpConnector` you can also pass a `JettyResourceFactory` to re-use the same resources across different client instances. Or you can also configure `HttpClient` yourself with the same resources, if you see what that constructor does. The convenience of the `JettyClientHttpConnector` is that it's designed to be declared in Spring configuration and automatically start a

[2020-08-26 09:32] sbordet commented on #22
Can you detail this?

Typically when using a proxy, you want to say that requests to a particular origin should be proxied - see for example how they are configured in a browser.

Do you have a case where, for the same origin, you want to use a proxy for one request, but not for another?

[2020-08-27 14:20] thomas-br commented on #22
Yes sure. So basically the use case would be that the service itself would not know any request information on application startup, but everything is basically dynamic configuration per "job". So it get's at runtime the task to execute the following request with the passed configuration. We cannot suppose any similarity on, for example, same hosts.

Imagine the first request to example.com is conf

[2020-08-27 15:22] sbordet commented on #22
It's the first time that I encounter the need of different proxy configurations for different requests for the same origin server (e.g. browsers do not support this).

Jetty's `HttpClient` currently does not support this because the proxy configuration is per-`HttpClient`, not per-request.
You may want to open an issue to https://github.com/eclipse/jetty.project/issues for this.

The workaround is

[2020-08-27 15:57] thomas-br commented on #22
Okay. Accepting that the proxy configuration is bound per HttpClient level.

For the other issue:

It seems to be a deadlock. I am not talking about any retry behavior. But more on the mechanism when the `Mono` of a Webclient request is cancelled by the `timeout` property. It seems when the timeout on `Mono` level occurs, the request or better say the resources inside the Jetty HttpClient are not

[2020-08-27 15:59] sbordet commented on #22
Any chance that you can write a simple reproducer?

[2020-08-27 16:27] thomas-br commented on #22
Sure, will probably find some time next week :)

[2020-09-03 16:20] thomas-br commented on #22
Hi @sbordet

Simple reproducing project can be found [here](https://github.com/thomas-bruckner/jetty-issue-22/blob/master/src/main/java/com/example/jettyissuedemo/IssueController.java)

Simply insert in the `URI` constant an arbitrary large file which takes more than 1sec to load.
Background is that we want to run in the `timeout` case.

Fire a lot of requests, for example with jmeter. I used 10 t

[2020-09-07 13:27] sbordet commented on #22
@thomas-br I simplified your reproducer and I obtain this with `5.2.8`:

[code]

When I fix the `timeout()` call to be: `.timeout(Duration.ofMillis(timeout), Mono.just(...))` then the test passes cleanly.

All seems good to me.

[2020-09-07 14:46] thomas-br commented on #22
@sbordet I think you did not get my point. Let me try to clarify it again:

`java.util.concurrent.TimeoutException` is the expected behavior in my example, so it is **not** about avoiding it!

The issue is just that when a lot of long requests to the same host are being cancelled with `.timeout`, this will produce at some point the following error:
[code]
And apparently due to the fact that all re

[2020-09-07 16:24] sbordet commented on #22
@thomas-br so I can confirm that it's Spring that does not call `jettyRequest.abort(..)` when a timeout happens.

Because Spring wraps and hides the Jetty APIs, application code does not have, IIUC, any API to manually call `jettyRequest.abort(..)` with the `TimeoutException` produced by Spring.

I'm leaning towards this being a Spring issue rather than an issue for this project - they should eith

[2020-09-15 16:25] rstoyanchev commented on #22
@sbordet I would expect the Jetty reactive client to handle Reactive Streams signals. In this case case the `timeout()` operator sends a `TimeoutException` downstream so the application can continue accordingly, e.g. via `.onErrorResume()`. It also sends a cancel signal upstream and that reaches `ResponseListenerProcessor#cancel()` which then has the opportunity to abort the request.

By compariso

[2020-09-15 16:52] sbordet commented on #22
@rstoyanchev the problem with `cancel()` is that the reason for the cancellation is totally lost.
No idea whether it's a timeout, I/O, runtime, etc. exception.

That is why I think it's probably best for the Reactor implementation to actually abort the request with the actual exception that is known to Reactor, also because Reactor completely wraps the Jetty request, so it has access to both the J

[2020-09-16 09:32] rstoyanchev commented on #22
@sbordet I don't see why it matters whether it is timeout or not. A cancellation means the `Subscriber` is asking the `Publisher` to stop and by Reactive Streams rules the `Publisher` must not publish any further signals which means the response is not going to be consumed. I don't see how having a reason changes any of that.

The request is wrapped by Spring's [JettyClientHttpConnector](https://g

[2020-09-16 15:31] sbordet commented on #22
@rstoyanchev wrote:

But it's not a cancellation. It's a timeout.
The fact that the timeout gets turned into a cancellation is irrelevant and only necessary due to the limited API that RS exposes.

Plus, a single HTTP request is not really a "stream", so when you timeout an HTTP request/response that has already been passed to the subscriber (in the form of a response element), and the subscriber

[2020-09-21 15:46] rstoyanchev commented on #22
Apologies for the slow reply.

It's true "cancel" can lack certainty, i.e. does the downstream want to abort or is it simply not interested in consuming the rest? In my experience the distinction rarely matters. The only exception I've encountered so far is a database transaction but even there it's more intuitive to interpret a cancellation as aborting the the transaction. In the context of an HT

[2020-09-30 20:57] sbordet commented on #22
@rstoyanchev my turn to apologize for the delay.

I have implemented the cancellation, but now I am facing another problem: normal requests always fail due to cancellation.

I seem to be hitting `MonoNext.NextSubscriber.onNext()` which -- when `done==false` -- first thing cancels the subscription.

The test that fails is: https://github.com/jetty-project/jetty-reactive-httpclient/blob/1.1.x/src/te

[2020-10-01 08:24] rstoyanchev commented on #22
I'll have a look.

[2020-10-01 15:28] rstoyanchev commented on #22
@sbordet, both tests in `ReactorTest` are green for me, this is in the 1.1.x branch. I was expecting a failure somewhere?

[2020-10-01 16:11] sbordet commented on #22
@rstoyanchev I did not commit your suggested change to `ResponseListenerProcessor.cancel()` because it breaks.
The change is simple, just add `request.abort(new CancellationException())` in there.
I can commit to a branch if that helps.

[2020-10-01 17:41] rstoyanchev commented on #22
Okay thanks, I see the problem on our side. We're using `Mono#from` which cancels after the first item because with a `Publisher` there is no way to know how many items it might produce. However in this case we know it will only produce one item and there is no need to cancel proactively, so we'll use `Mono#fromDirect` instead.

I have confirmed locally that after the fix all tests in `ReactorTest

[2020-10-01 20:28] sbordet commented on #22
@rstoyanchev not to beat a dead horse, but this is actually the example where an implementation of `onNext()`, after receiving the item, is entitled to call `cancel()` - what would be wrong with that?

However, with the "fix" the producer holds on to the item it just passed to `onNext()` just to "cancel" it.

And the solution of "oh, _I know_ this producer will only produce one item [how do you kn

[2020-10-02 08:33] rstoyanchev commented on #22
I know, this doesn't seem very re-assuring :) ... but allow me to elaborate.

`JettyClientHttpConnector` relies on the `response` method with a callback to transform the response. That callback turns the response into `Mono<JettyClientHttpResponse>` which is a Pubilsher of 1:

[code]

So we know only 1 item will come but since the Jetty API returns `Publisher`, which can theoretically return any n

[2020-11-24 12:12] kimec commented on #22
Greetings,
could the title of this issue be changed to something that reflects the real problem discussed here: _eager abortion of in-flight/enqueued requests on RS cancellation signal_ or such?

There is no thread leak in Jetty reactive client or Spring's WebClient when used properly. We've been using `jetty-reactive-httpclient` with Spring's `WebClient` via `JettyClientHttpConnector` for close t

[2020-12-03 12:38] sbordet commented on #22
I still think forcing publishers to hold the current element in case a subscriber cancels the stream, with the unspecified meaning to "cancel" the current element is an ad-hoc interpretation of reactive streams that has no basis in the specification.

Having said that, I'm willing to add a boolean configuration parameter to `ReactiveRequest.Builder`, something like `abortOnCancel`, `false` by defa

[2020-12-03 13:30] rstoyanchev commented on #22
It's good to have the choice and we'll certainly put it to use in WebFlux. Thanks!

[2020-12-03 14:20] sbordet commented on #22
@thomas-br can you please try the latest code in branch `1.1.x`?
Do you still see leaked threads?

[2020-12-12 15:44] #22 closed, assigned to nobody

[2020-12-12 20:27] sbordet opened #25 "Feedback: what Reactive HttpClient version do you use?"
Add a comment below with the Reactive HttpClient series you are using: 1.1.x, 2.0.x, 3.0.x.

[2020-12-12 20:29] sbordet opened #26 "Feedback"
What Reactive HttpClient version do you use?

/polls "Reactive HttpClient 1.1.x" "Reactive HttpClient 2.0.x" "Reactive HttpClient 3.0.x"

[2020-12-12 20:33] #26 closed, assigned to nobody

[2020-12-19 01:57] majones713 opened #28 "java.util.concurrent.ExecutionException: org.eclipse.jetty.client.HttpResponseException: HTTP protocol violation: Authentication challenge without WWW-Authenticate header"
**Jetty version**

Gradle Dependency
implementation 'org.eclipse.jetty:jetty-reactive-httpclient:3.0.0'

**Java version**
1.11

**OS type/version**
macOS High Sierra/10.13.6

**Other**
Using Springs WebFlux (2.4.0) WebClient with Jetty

**Description**
When executing request I'm getting 401 status code from response.  Because of that 401 status code Jetty is throwing this exception:

[code]

The r

[2020-12-19 10:37] sbordet commented on #28
Answered in https://github.com/eclipse/jetty.project/issues/5829.

[2020-12-19 10:37] #28 closed, assigned to nobody

[2021-02-11 16:28] majones713 opened #33 "Reopen Previous issue: java.util.concurrent.ExecutionException: org.eclipse.jetty.client.HttpResponseException: HTTP protocol violation: Authentication challenge without WWW-Authenticate header"
Hi,

I opened an issue here:

https://github.com/jetty-project/jetty-reactive-httpclient/issues/28
https://github.com/eclipse/jetty.project/issues/5829

I reported this to Okta in which they replied with teh following:

-----------------------------------------------------------------------------

After investigating this internally I can now provide an answer, Okta does not reply with the www-aut

[2021-02-11 20:34] sbordet commented on #33
@majones713 as I have already replied in eclipse/jetty.project#5829, Okta is violating RFC7235, which defines a generic framework for HTTP authentication, not only for Basic Authentication.

You can disable `HttpClient` support for automatic authentication handling, but then you have to do it yourself in your application.

[code]

Ask Okta to fix their violation of the standards.

[2021-02-11 20:34] #33 closed, assigned to nobody

[2021-02-11 21:10] majones713 commented on #33
Hi @sbordet , thanks for confirming things in addition to providing a temporary workaround.  I'll definitely use this as leverage for reporting purposes to Okta as they are considering this a new feature request vs a defect.

[2021-02-11 21:42] joakime commented on #33
@majones713 some more details for you to use with your discussion to Okta.

_History:_

HTTP/1.0 spec (1996)
WWW-Authenticate
https://tools.ietf.org/html/rfc1945#section-10.16

HTTP/1.1 spec (1997)
401 Status Code
https://tools.ietf.org/html/rfc2068#section-10.4.2 - (1997)
https://tools.ietf.org/html/rfc2616#section-10.4.2 - (1999)

https://tools.ietf.org/html/rfc7235#section-3.1 - (2014)

This wi

[2021-02-11 22:04] majones713 commented on #33
@joakime I heard the word!  This was really helpful and just shared with our Architects/Dev leads.  This was very helpful. Thanks again!

[2021-03-01 15:51] sbordet commented on #16
@scottjohnson closing this issue as it was fixed on the Spring side.

[2021-03-01 15:51] #16 closed

[2021-03-18 17:48] kohoward opened #38 "2.x.x and 3.x.x dependency issues"
I am getting NoClassDefFoundError. On inspecting the issue, I find that PublisherContentProvider cannot be resolved.

Rolling back to 1.x.x works fine.

[code]

[2021-03-22 10:06] sbordet commented on #38
`PublisherContentProvider` is an internal class that should not be used by application code.

You should use `reactiveRequest.content(content)` instead.

[2021-03-22 10:06] #38 closed, assigned to nobody

[2021-03-22 10:42] kohoward commented on #38
Just to clarify my application code is NOT using PublisherContentProvider. I am simply using jetty-reactive-httpclient. The library is throwing an error.

[2021-03-22 10:55] sbordet commented on #38
@kohoward have you opened an issue to "the library"? What library it is, Spring WebFlux?

[2021-03-22 10:56] kohoward opened #40 "Issue closed without investigation"
I have noticed you have closed https://github.com/jetty-project/jetty-reactive-httpclient/issues/38

**Problem is not related to my application code.** This library is internally referencing something that does not exist.

I am just being persistent here so you do not assume this is not a problem. This will be my final attempt to bring your attention to this.

[2021-03-22 12:06] kohoward commented on #38
The issues lies with jetty-reactive-httpclient, specifically in the code in the first post.

The snippet of code is from jetty-reactive-httpclient

[2021-03-22 12:11] #40 closed, assigned to nobody

[2021-03-22 12:11] sbordet commented on #40
@kohoward I understand the "faulty" code is not in your application code.
However, it's not in this library code either.

Thank you for being persistent, but I can't find the code you reference in #38, and even grepping for `PublisherContentProvider` in the `2.0.x` and `3.0.x` branches yields zero results.

My guess is that you are using another library that uses this library, and it's the other l

[2021-03-22 12:15] sbordet commented on #38
There is no such snippet of code in this project.

[2021-06-22 16:17] prafsoni opened #59 "Post request not setting Auth Header Correctly When Using Digest Auth"
Version: 1.1.9

When trying to upload a file to remote server with Digest Auth. After receiving the challenge request doesn't set correct auth headers. This causes the request to fail with 401. After some debugging found that in `AuthenticationProtocolHandler.AuthenticationListener`  the check !requestContent.isReproducible() is incorrectly calling `forwardSuccessComplete` before updating headers

[2021-06-29 17:57] sbordet commented on #59
What do you mean? The headers are correctly set.
Do you have an example/evidence of this?

If the content is not reproducible, then the request cannot be retried automatically by Jetty, so calling `forwardSuccessComplete()` is correct.

The correct solution would be to not send un-authenticated POST request with non-reproducible content that the server rejects.
If your digest authentication expire

[2021-09-20 18:29] aduilio commented on #33
@sbordet I'm trying to deactivate this validation using the JettyConnectorProvider and JettyHttpClientSupplier but it is not working.

[code]
Actually the handlers list is empty. Is there anything else I have to do? I'm using the version 2.34.

[2021-09-20 22:33] sbordet commented on #33
Too little information.

There is no such version of this project.

[2021-09-20 22:45] joakime commented on #33
The `JettyConnectorProvider` and version 2.34 seems to indicate the use of Jersey.

https://eclipse-ee4j.github.io/jersey.github.io/apidocs/2.34/jersey/org/glassfish/jersey/jetty/connector/JettyConnectorProvider.html

[2021-09-21 00:07] aduilio commented on #33
Sorry @sbordet. I'm using the project org.glassfish.jersey.connectors:jersey-jetty-connector:2.34. When Jetty client receives a 401 error without the header www-authenticate it is returning protocol violation error. I tried send a httpClient to JettyConnectorProvider following the documentation but Jetty client is still complaining about the header.

[https://eclipse-ee4j.github.io/jersey.github.i

[2021-09-21 16:10] aduilio commented on #33
I found the problem. Before removing the protocol handler HttpClient must be started:

[code]

[2022-02-15 18:16] sbordet commented on #59
Closing as addressed.

[2022-02-15 18:16] #59 closed, assigned to nobody

[2022-03-29 08:52] kptfh opened #104 "Add support of multipart form data"
Provide utility method
`Request.Content.fromParts(Publisher<Part>)`

where Part
[code]

[2022-03-29 16:51] sbordet commented on #104
Can you clarify whether `Part` is a class from some other library, or I should provide one in this project?

I would also need a use case.

Is this similar to `HttpClient`'s `MultiPartRequestContent`, but reactive?

[2022-03-29 21:36] kptfh commented on #104
Took this Part interface from Spring. Don't know if there is analogue interface in Jetty.
I'd like to add this functionality to jetty based reactive feign module

[2022-03-29 21:39] kptfh commented on #104
Exactly

[2022-05-06 03:02] ofis3 opened #118 "G"

[2022-05-06 06:55] #118 closed, assigned to nobody

[2022-05-09 13:24] hubertlapsa opened #119 "Support for read/write timeout."
Is it possible to set read and write connection timeout using HttpClient? From what I can see, HttpClient does not provide support for set read and write connection timeout.

[2022-05-09 13:45] joakime commented on #119
what you want is idle timeout

[2022-05-09 13:52] sbordet commented on #119
@hubertlapsa you have to clarify what you exactly mean by read and write timeout.
`HttpClient` supports a variety of timeouts, and chances are that they are already implemented for what you want to do.
But it's not clear what you want to do.

[2022-05-16 05:53] szpak commented on #119
In the original context, we need an ability to distinguish the connect timeout (which might need a bigger value) from the read/write timeout (when it is expected to be quite low). `idleTimeout` sounds interesting, but I wonder, if it would work to set high `connectTimeout` (e.g. 20 seconds) and low `idleTimeout` (e.g. 2 seconds) - in other word, if `idleTimeout` won't kick in while waiting for som

[2022-05-16 07:23] sbordet commented on #119
Yes it would work.

The `idleTimeout` covers network idleness (both read and write).

[2022-10-13 13:28] sbordet opened #153 "Announcement of End of Community Support for Jetty Reactive HttpClient 1.1.x"
The Jetty Reactive HttpClient project announces the **End of Community Support for version 1.1.x**, following [Jetty's announcement of End of Community Support for Jetty 9.x](https://github.com/eclipse/jetty.project/issues/7958).

November 1st, 2022 marks the official **End of Community Support** for Jetty Reactive HttpClient 1.1.x.

While users of Jetty Reactive HttpClient 1.1.x will continue to

[2022-10-13 13:28] #153 closed, assigned to nobody